p {
  width: 300px;
  /* height: 800px; */
  overflow: hidden;
  color: red;
  border: 2px red;
  text-align: center;
  margin: auto;
  font-size: 48px;

  font-family: 'Canterbury', Geneva, Verdana, sans-serif;
}

.password {
  width: 300px;
  /* height: 800px; */
  overflow: hidden;
  color: black;
  -webkit-text-stroke: 0.1px #970000;
  text-align: center;
  margin: auto;
  font-size: 16px;

  font-family: 'Canterbury', Geneva, Verdana, sans-serif;
}

body {
  background-color: black;
}

img {
  margin: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.music-player {
  width: 400px;

  border-radius: 5px;
  padding: 10px;
  background-color: #000;
    border: 1px red;
}